.filterwrapper{
    margin-top:1em;
    @media (max-width: 768px) { 
        margin-top:unset;  
       
     }
    .filter_wrapper_inner {
        border: 1px solid #dfdfdf;
        padding: 15px 30px;
        box-sizing: border-box;
        
        @media (max-width: 768px) { 
            background-color: #ded4ef;
           
         }
    }
}

text-center.align-self-center.p-2.col {
    border: 1px solid #ccc;
    margin: 0 4px;
}