.filterwrapper {
  margin-top: 1em;
}

@media (max-width: 768px) {
  .filterwrapper {
    margin-top: unset;
  }
}

.filterwrapper .filter_wrapper_inner {
  border: 1px solid #dfdfdf;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .filterwrapper .filter_wrapper_inner {
    background-color: #ded4ef;
  }
}

text-center.align-self-center.p-2.col {
  border: 1px solid #ccc;
  margin: 0 4px;
}
/*# sourceMappingURL=Filter.css.map */