.color-nav{
    background-color: #c49fd3 !important;
    
}
.nav-brand{
    color:#fff !important;
    font-weight: 500;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}