.content{
    width:fit-content;
    justify-content: center;
}
.slots__container{
    &.container {
        margin-top: 22px;
    }
    
.col-lg-8.offset-lg-2 {
    border: 1px solid #dfdfdf;
    padding: 15px 30px;
    box-sizing: border-box;
}
}

.slots__container {
    .text-center.align-self-center.p-2.col{
        border: 1px solid #dfdfdf;
        padding: 15px 30px;
        box-sizing: border-box;
    }
}