.content {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slots__container.container {
  margin-top: 22px;
}

.slots__container .col-lg-8.offset-lg-2 {
  border: 1px solid #dfdfdf;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slots__container .text-center.align-self-center.p-2.col {
  border: 1px solid #dfdfdf;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=Slotscontainer.css.map */